body {
  background-color: rgb(59, 59, 59);
}

nav {
  background-color: rgb(34, 34, 34);
}

.pic{
  border-radius: 10px;
}
.info{
  text-align: center;
  font-size: 1.3em;
}
.card {
  background-color: transparent;
  background-color:white;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0,0,0,.5);
}
p.description{
  font-size: 1.2em;
  font-family: 'Alkalami', serif;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Mali', cursive;
  font-family: 'Shadows Into Light', cursive;
}

.custombackground {
  background-color: rgba(65, 118, 161, 0.425);
  border: 2px solid #858585;
}
.navbar-brand{
  font-weight: 400;
  font-style: normal;
}

footer {
  position: relative;
  margin-bottom: 130px;

}

#butt {
  min-width: 120px;
  height: 60px;
  color: #ffffff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #769dc5;
}

#butt:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}

#butt:hover:after {
  opacity: 1;
  right: 10px;

}

#butt:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}